[2015-08-05 14:24] beanumber opened #1 "create themes for ggplot2 and lattice"

[2015-10-07 13:25] beanumber opened #2 "should this package "Depends" on "mosaic", so that those function load automatically?"

[2015-10-07 13:27] beanumber commented on #2
Moreover, should this package "Imports" all of the packages necessary to compile the book?

[2015-10-10 10:34] nicholasjhorton commented on #2
I think not: fewer depends is better I suspect if we want to get this on CRAN.

Nick

Nicholas Horton
Professor of Statistics
Department of Mathematics and Statistics, Amherst College
Box 2239, 31 Quadrangle Dr
Amherst, MA 01002-5000
https://www.amherst.edu/people/facstaff/nhorton

[2015-10-13 16:54] beanumber commented on #2
It should Depend on `mosaic`.

It should Suggests all the other packages needed to compile the book

[2015-12-29 02:51] beanumber opened #3 "fix non-ASCII characters in Cuisines"
[code]
(https://github.com/nicholasjhorton/DataScience/issues/54)

[2015-12-29 13:37] nicholasjhorton commented on #3
I couldn't run:
load("~/Dropbox/lib/mdsr/data/MyRestaurants.rda")

in data-raw/MyRestaurants.R

Just FYI, here's another way to figure out what's what in the offending cuisine_description:

[2015-12-29 17:19] beanumber commented on #3
Of course, but again, we don't have a reproducible set of code to produce `MyRestaurants` in the first place, right?

Do you know how to fix the bug?

[2015-12-29 20:02] nicholasjhorton commented on #3
I think that:

Cuisines$cuisine_description[36] = "Cafe/Coffee/Tea"

should do the trick.

[2015-12-29 22:20] beanumber commented on #3
Except that it's a factor. Also that doesn't clear the NOTE. I'm thinking something more like:

[code]

But that doesn't quite work. Any other ideas?

[2015-12-29 22:52] nicholasjhorton commented on #3
While we working this problem I would prefer if we could turn the factors into character vectors.

All the best,

Nick

[2015-12-30 22:12] beanumber commented on #3
Done. I fixed the `WARNING` but left the `NOTE`. There were other UTF characters in the `Restaurants` data frame.

[code]

[2015-12-30 22:12] #3 closed

[2016-01-06 11:51] #2 closed

[2016-01-08 17:43] dtkaplan opened #4 "Names of data tables"
I suggest you name *all* the data in the package with a starting CAPITAL letter.  Most are already that way.

[2016-01-08 17:47] beanumber commented on #4
Seconded.

[2016-01-09 19:53] nicholasjhorton opened #5 "can you please add install instructions to mdsr main page"
devtools::install_github("beanumber/mdsr")

[2016-01-10 02:10] #5 closed

[2016-01-10 02:26] #4 closed

[2016-01-18 14:10] nicholasjhorton opened #6 "document Restaurants, Violations, ViolationCodes"

[2016-01-18 14:11] nicholasjhorton commented on #6
https://data.cityofnewyork.us/api/views/xx67-kt59/files/tz91raz45111dHYNIWFwSOksImBbUZ9znxlM4nD_W8A?download=true&filename=About%20NYC%20Restaurant%20Inspection%20Data%20on%20NYC%20OpenData%20082014.docx

https://data.cityofnewyork.us/api/views/xx67-kt59/files/cWGKTm3caip6-I-6ZXJ6GeXSw9A_VieTzbBJhE41Mpc?download=true&filename=Restaurant%20Inspection%20Open%20Data%20Dictionary%20082214.xlsx

[2016-02-20 14:19] Aovalle1990 opened #7 "Could not download "mdsr" package"
Code used:
install.packages("devtools")
devtools::install_github("beanumber/mdsr")
require(mdsr)
error =
Loading required package: mdsr
Warning message:
In library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE,  :
  there is no package called ‘mdsr’

[2016-02-20 15:32] beanumber commented on #7
Did you incur errors during the installation process? I suspect that the `car` dependency for `mosaic` is to blame here.

(https://github.com/ProjectMOSAIC/mosaic/issues/287)

What version of the `car` package do you have installed?

[2016-02-20 15:35] beanumber commented on #7
Another student with the same error:

[code]

[code]

@rpruim what is the preferred solution here?

[2016-02-20 15:51] Aovalle1990 commented on #7
Yes indeed, this the error that shows up;

Loading required package: mosaic
Loading required package: lattice
Loading required package: ggplot2
Loading required package: car
Error in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck
= vI[[j]]) :
  namespace ‘pbkrtest’ 0.4-2 is being loaded, but >= 0.4.4 is required
In addition: Warning messages:
1: package ‘mosaic’ was built under

[2016-02-20 16:25] beanumber commented on #7
What happens if you do:

[code]

?

Also, try:

[code]

and then try to install `mosaic` again.

[2016-02-20 16:38] Aovalle1990 commented on #7
I tried that ... did not work

The downloaded binary packages are in
    /var/folders/02/k2q25_4n1n1fq7fmw7pxjj3m0000gn/T//RtmpHnrVY5/downloaded_packages

The downloaded binary packages are in
    /var/folders/02/k2q25_4n1n1fq7fmw7pxjj3m0000gn/T//RtmpHnrVY5/downloaded_packages

[2016-02-20 16:38] Aovalle1990 commented on #7
what is "pbkrtest"

[2016-02-20 16:42] nicholasjhorton commented on #7
I've seen others having trouble installing car because of this.  Some thoughts:

(1) are you running R 3.2.3?

(2) if not, can you install pbkrtest from source?

Sorry for the complications,

Nick

Nicholas Horton
Professor of Statistics
Department of Mathematics and Statistics, Amherst College
Box 2239, 31 Quadrangle Dr
Amherst, MA 01002-5000
https://www.amherst.edu/people/facstaff/nhorton

[2016-02-20 16:44] beanumber commented on #7
`pbkrtest` is a dependency of `car`. Can you try:

[code]

If that works, then try to install `car` and then `mosaic` and then `mdsr`.

[2016-02-20 18:58] Aovalle1990 commented on #7
Success !
I feel kind of silly, I realized that I need it to update R not Rstudio, once I did that I was able to download the package.

Thank you

[2016-02-20 19:01] nicholasjhorton commented on #7
It still shouldn't be this difficult to install the package: thanks for alerting us.

Nick

Nicholas Horton
Professor of Statistics
Department of Mathematics and Statistics, Amherst College
Box 2239, 31 Quadrangle Dr
Amherst, MA 01002-5000
https://www.amherst.edu/people/facstaff/nhorton

[2016-02-21 17:48] #7 closed

[2016-03-02 21:02] worldtraveler39 commented on #5
Thank you!

[2016-03-15 23:48] idtemp opened #8 "Inaccurate references to table"
On pages 87-88 (section 4.1.2) there are a few references to "Ahmed," "Ahmet" (a possible misspelling?), and "Sherina" in Table 4.1, but I am unable to locate any of these names on the indicated table or any other table.

[2016-03-16 00:14] beanumber commented on #8
Good catch!

This was caused by the recent update to the `babynames` package, which now includes the 2014 data. I will fix this.

[2016-03-16 00:26] idtemp opened #9 "Confusing/Inaccurate description of function"
4.2.1 (p. 93) consists of a paragraph describing both spread() and gather() as transforming data frames from narrow to wide. From my understanding, only spread() is used for this function, and gather() is used for transforming data frames from wide to narrow.

[2016-03-16 00:31] #8 closed

[2016-03-19 17:49] beanumber commented on #9
We'll take a closer look at this.

[2016-03-20 16:48] nicholasjhorton commented on #6
I've added this in: can you please rebuild the package and let me know if you see any issues?  Thanks in advance, Nick

[2016-03-20 16:48] #6 closed

[2016-03-20 16:49] nicholasjhorton commented on #1
I like the idea!

[2016-03-20 18:45] beanumber commented on #6
Negative. I am getting this error:

[code]

But `mosaic` and `car` are both installed. Any ideas @rpruim?

[2016-03-20 19:12] nicholasjhorton commented on #6
Ben,

I'd suggest reinstalling mosaic from the current github master: Randy has worked to remove the car dependency.

Nick

Nicholas Horton
Professor of Statistics
Department of Mathematics and Statistics, Amherst College
Box 2239, 31 Quadrangle Dr
Amherst, MA 01002-5000
https://www.amherst.edu/people/facstaff/nhorton

[2016-03-20 23:50] rpruim commented on #6
Something seems fishy.  I don't see how you could have car installed and get the message

[code]

What happens when you start a new session and do

[code]

There does seem to be some recent change in car or its dependencies that makes installing car more problematic than it once was.  That's why we are getting rid of it as a dependency.  I would hope that this is a temporary problem with car, but

[2016-04-12 18:50] beanumber opened #10 "document Scottish parliament votes"

[2016-04-17 23:37] nicholasjhorton opened #11 "fix date field in DESCRIPTION"
To cite package ‘mdsr’ in publications use:

  Ben Baumer and Nicholas J. Horton (). mdsr: Complement to Forthcoming Book:
  Modern Data Science with R. R package version 0.1.1.9018.

A BibTeX entry for LaTeX users is

  @Manual{,
    title = {mdsr: Complement to Forthcoming Book: Modern Data Science with R},
    author = {Ben Baumer and Nicholas J. Horton},
    note = {R package version 0.1.1.901

[2016-06-22 21:49] nicholasjhorton opened #12 "check mdsr package compilation"
Ben, I added in some documentation for the mdsr package for the SAT_2010 dataset.  I wasn't able to check this and wanted to ensure I didn't mess up the process with an error in data.R.  Can you please review?  Thanks in advance, Nick

[2016-06-22 21:56] nicholasjhorton opened #13 "SAT_2010 variable names sometimes capitalized, sometimes not"
[1] "State"               "Expenditure"         "Pupil.teacher.ratio"
[4] "salary"              "Read"                "Math"
[7] "Write"               "Total"               "percentSAT"

percentSAT?  salary?

[2016-06-23 18:17] #11 closed

[2016-06-23 18:24] #12 closed

[2016-06-23 18:28] #13 closed

[2016-07-08 19:43] nicholasjhorton opened #14 "weirdness in documentation of CountryData2"
There are some stray characters at the end of the variable definitions (e.g. 2147).

<img width="506" alt="screen shot 2016-07-08 at 3 42 19 pm" src="https://cloud.githubusercontent.com/assets/530542/16699525/ab43d3ca-4522-11e6-9942-1c1a0991e50c.png">

[2016-07-28 19:49] nicholasjhorton commented on #1
Any updates on this front?

[2016-07-28 19:49] nicholasjhorton opened #15 "warnings when loading"
## Warning:  replacing previous import ’dplyr::do’ by ’mosaic::do’ when
loading ’mdsr’
## Warning:  replacing previous import ’dplyr::tally’ by ’mosaic::tally’
when loading ’mdsr’
## Warning:  replacing previous import ’dplyr::count’ by ’mosaic::count’
when loading ’mdsr’

Any idea why these have arisen with the new development release?

[2016-07-28 20:23] beanumber commented on #1
No, but I have been thinking about it. There is an example of a `theme_mdsr` in datavizIII.

[2016-07-28 20:24] beanumber commented on #15
No. Does @rpruim know?

[2016-07-28 20:39] rpruim commented on #15
Looks like `mdsr` is importing those same functions.

[2016-08-15 14:54] beanumber commented on #15
OK, so I'm not sure what the right solution is here. The problem is that we want `library(mdsr)` to also load `mosaic`, which in turn loads `dplyr`, etc. However, we don't actually use any `mosaic` functions in `mdsr`.

So, if we put `mosaic` in the Depends, then R CMD check returns:

[code]

But then if we put a dummy function that imports `mosaic` into `mdsr`, which is what happens [here](https:

[2016-08-15 15:05] beanumber commented on #14
This is a much bigger mess. I suggest we trim this down to just the four variables that we actually use in the book.

[2016-08-15 16:31] #14 closed

[2016-08-15 17:57] rpruim commented on #15
Looking at your DESCRIPTION file, it appears that you have `dplyr` in the depends section.  Did you have both `mosaic` and `dplyr` in there at some point?  There is no reason to put both there since `mosaic` already depends on `dplyr` (to make functions like `do()` and `tally()` work in both `dplyr` and `mosaic` ways without needing to specify the package).

I'm not sure what the "dummy function"

[2016-08-17 19:39] beanumber commented on #1
I added a `ggplot2` theme. I'm not in love with it -- please feel free to suggest changes.

[2016-08-17 19:48] beanumber commented on #15
OK, now we have a `ggplot2` theme that at least invokes `mosaic::theme_map`. This gives us a reason to Import `mosaic` -- I've put it in Depends.

@nicholasjhorton 's error persists:

[code]

Is this because in the NAMESPACE we have:

[code]

?? If I manually remove the `import(dplyr)`, then the error goes away.

I will remove the `dplyr` import, and then just `importFrom` all of the `dplyr` funct

[2016-08-17 19:54] #15 closed

[2016-08-17 20:05] beanumber opened #16 "data directory too large"
[code]
Most of the data sets are small, and they are all compressed:
[code]
Suggestions @nicholasjhorton ?
We only use `MedicareCharges` in one place, can that be trimmed?

The stuff in `extdata` can be added to `.Rbuildignore`

[2016-08-17 20:08] beanumber commented on #16
[code]

[2016-08-17 20:10] beanumber opened #17 "non-ASCII characters in data sets"
[code]
Why does CRAN even care about this at this point?

Suggestions from @nicholasjhorton or @rpruim? We could obviously remove the offending characters, but is that the best solution?

[2016-08-17 20:30] beanumber commented on #16
Getting closer...

[code]

[2016-08-18 16:19] #17 closed

[2016-08-23 00:59] beanumber opened #18 "document DCF-2015 data sets"

[2016-08-23 01:19] beanumber opened #19 "source and reference for WorldCities?"
Can we do better than this?

[code]

[2016-08-23 01:27] beanumber opened #20 "document OrdwayBirds"

[2016-08-29 17:43] #10 closed

[2016-08-29 17:44] beanumber commented on #16
CRAN took mercy on us.

[2016-08-29 17:44] #16 closed

[2016-08-29 17:45] beanumber commented on #9
This has been re-worded.

[2016-08-29 17:45] #9 closed

[2016-09-19 11:09] nicholasjhorton opened #21 "should mdsr depend on tidyverse?"
Note that one needs to load tidyverse before mosaic.

[2017-01-17 21:48] nicholasjhorton opened #22 "change "forthcoming" to "CRC Press" in github repo description"

[2017-01-17 21:57] #22 closed

[2017-06-14 23:14] nicholasjhorton opened #23 "should mdsr require dbplyr"
This seems to be needed to access SQL using dplyr.

[2017-07-20 16:29] beanumber commented on #23
Closed by b63a2d3.

[2017-07-20 16:29] #23 closed

[2017-07-20 16:30] beanumber commented on #21
I'm for this, but will CRAN get mad?

[2017-07-22 16:20] nicholasjhorton commented on #21
I don't have strong feelings.  And leaving things as is would probably be a less risky shift.

[2017-07-22 17:41] dtkaplan commented on #21
I'm not sure I understand the issue. Why would CRAN get mad? Would an import work?

[2017-07-22 18:53] beanumber commented on #21
Doesn't CRAN get mad if you put packages in Depends that you don't actually need in there? In this case, we're not really using functions from `tidyverse` in `mdsr`. We would just be putting in Depends for the convenience of users.

`tidyverse` itself doesn't have any packages in Depends, but uses an `.onAttach()` function:

https://github.com/tidyverse/tidyverse/blob/master/R/zzz.R

Should we do

[2017-07-22 19:54] dtkaplan commented on #21
I believe that the `check()` function detects when you have things in Depends that aren't needed. In any event, this is certainly a discouraged practice. If it can be managed with an `.onAttach()` function, that's preferable (simply because Hadley's use of it in an up-to-date and popular package suggests that it's legitimate).

[2017-07-22 20:42] nicholasjhorton commented on #21
What's tricky here is that mdsr depends on mosaic and mosaic depends on dplyr.

All the best,

Nick

[2017-07-22 20:51] dtkaplan commented on #21
Such chained dependencies are pretty common. I think the installation process takes care of this.

[2017-07-24 13:40] #21 closed

[2017-09-27 22:20] gmichel-SMU opened #24 "Error installing mdsr on datascience.ibm.com"
I'm trying to install MDSR but the installtion is failling on using install.packages("mdsr") or devtools::install_github("beanumber/mdsr").

 packageVersion("dbplyr")
Error in packageVersion("dbplyr") : package ‘dbplyr’ not found

[1] ‘0.5.0’

The installation log is following:

Installing package into ‘/home/rstudio/R/x86_64-redhat-linux-gnu-library/3.3’
(as ‘lib’ is unspecified)
also installing

[2017-09-28 13:00] beanumber commented on #24
Hmmm... I'm seeing this in the log @gmichel-SMU posted:

[code]
It looks like you already have version 0.5.0 of `dplyr` loaded, and that is blocking something.

Can you try:

[code]
and report back what you see? The current version of `dplyr` is 0.7.3, and there have been some major changes in recent updates.

[2017-09-28 17:34] gmichel-SMU commented on #24
Both commands did produce the same error:

** R
** data
*** moving datasets to lazyload DB
** inst
** preparing package for lazy loading
Error in unloadNamespace(pkg_name) :
  namespace ‘dplyr’ is imported by ‘sparklyr’ so cannot be unloaded
* removing ‘/home/rstudio/R/x86_64-redhat-linux-gnu-library/3.3/dplyr’
Warning in install.packages :
  installation of package ‘dplyr’ had non-zero exit statu

[2017-09-28 17:42] nicholasjhorton commented on #24
Is the R 3.3 the problem?  I'd suggest updating that as well.

All the best,

Nick

[2017-09-28 20:00] beanumber commented on #24
`Read-only file system` doesn't sound good.

Can you try restarting your R session? It looks like having `sparklyr` loaded is causing a problem.

I think your problem is not with `mdsr`. If you can't install/upgrade `dplyr`, then it's not a surprise that `mdsr` won't install.

[2017-12-10 15:34] beanumber opened #25 "CRAN NOTE"
Dear maintainer,

please see the problems shown on
<https://cran.r-project.org/web/checks/check_results_mdsr.html>.

Please correct before 2017-12-23 to safely retain your package on CRAN.

Best,
Uwe Ligges

[2017-12-15 14:43] beanumber opened #26 "Namespace in Imports field not imported from: ‘tidyverse’"
Version: 0.1.4
Check: dependencies in R code
Result: NOTE
    Namespace in Imports field not imported from: ‘tidyverse’
     All declared Imports should be used.
Flavors: r-devel-linux-x86_64-fedora-clang, r-devel-linux-x86_64-fedora-gcc, r-patched-solaris-x86, r-release-osx-x86_64, r-oldrel-osx-x86_64

[2017-12-15 14:45] #26 closed

[2017-12-15 14:46] beanumber opened #27 "non-ASCII characters"
[code]

Ugh.

[2017-12-15 14:51] beanumber opened #28 "mosaic error on Windows?"
(https://www.r-project.org/nosvn/R.check/r-oldrel-windows-ix86+x86_64/mdsr-00check.html)

[code]

[Nevermind the absurdity of supporting old releases on Windows...]

Is this a problem with `mosaic`? Or perhaps the combination of `tidyverse` and `mosaic`?

Can @nicholasjhorton @dtkaplan @rpruim shed any light on this? I don't know how to reproduce this, let alone fix it.

There is some urgency here

[2017-12-15 14:53] beanumber commented on #24
I think it's safe to close this?

[2017-12-15 14:53] #24 closed

[2017-12-15 14:56] beanumber commented on #27
See #17

[2017-12-15 15:00] nicholasjhorton commented on #28
Alas, I have no insights or guidance on this front.  @dtkaplan?

[2017-12-15 15:03] beanumber commented on #17
https://stackoverflow.com/questions/9934856/removing-non-ascii-characters-from-data-files

[2017-12-15 15:04] nicholasjhorton commented on #27
There are pedagogical reasons why we would *want* to have non-ASCII characters.  Any idea why this is now a requirement for CRAN?

[2017-12-15 15:27] rpruim commented on #28
It looks like the issue is related to pulling in lattice (which several packages are doing).  Not sure why there is an attempt to unlaod lattice here.

Are you able to recreate this, or it is just showing up in CRAN reports?

[2017-12-15 15:30] beanumber commented on #27
I have no idea. Cultural imperialism?

Somehow we fixed this before, but I'm running the same code now and it doesn't seem to be working.

[code]

Ugh, I am at a loss here. Any help would be appreciated!

[2017-12-15 15:31] beanumber commented on #28
It's just showing up on CRAN reports (see link above).

[2017-12-16 17:27] nicholasjhorton commented on #27
How about:

iconv(x, "latin1", "ASCII", "")

Nicholas Horton
Professor of Statistics
Department of Mathematics and Statistics, Amherst College
PO Box 5000, AC #2239
Amherst, MA 01002-5000

[2017-12-20 19:38] beanumber commented on #27
OK, that seems to have worked. Thanks @nicholasjhorton !

[2017-12-20 19:39] #27 closed

[2017-12-20 21:30] beanumber commented on #25
I think #28 is still open, but I'm closing this issue.

[2017-12-20 21:30] #25 closed

[2017-12-20 21:33] beanumber commented on #28
I guess I'll just resubmit to CRAN and cross my fingers?

[2017-12-20 21:47] rpruim commented on #28
If `devtools::build_win()` doesn't complain and things are working on your system, I think that's the way to go.  Hard to debug something that we can't recreate and don't fully understand.

[2017-12-21 01:30] beanumber commented on #28
@rpruim Yeah, totally agree.

[CRAN accepted](https://cran.r-project.org/web/packages/mdsr/)!

[2017-12-21 01:30] #28 closed

[2018-02-08 17:00] ulk56 opened #29 "Package 'airlines': installation and data access problem"
**Environment is Windows 8.1, RStudio 1.1.423 and R-3.4.3 (64 bit).**

**1. *Rd warning* when installing a recent version of the 'airlines' package with renewed URL**

`devtools::install_github("beanumber/airlines", force=TRUE)`

results in several Rd warnings like

Any solution available to avoid the Rd warnings?

**2. Data access problem which might be due to a change in the data base columns.**

[2018-04-05 15:19] nicholasjhorton opened #30 "possible issue with "etl_NCI60()" function on windows"
A user reported the following issue (under windows):

Here is the error again and session info

trying URL 'https://github.com/beanumber/mdsr/blob/master/data-raw/NCI60.rda?raw=true'
Content type 'application/octet-stream' length 5205412 bytes (5.0 MB)
downloaded 5.0 MB

Error in load(lcl) :
  bad restore file magic number (file may be corrupted) -- no data loaded
In addition: Warning messages:
1:

[2018-05-31 15:16] beanumber commented on #30
@nicholasjhorton This works for me on Ubuntu. I haven't been able to confirm on Windows. Do you think this is still an issue?

[2018-05-31 15:22] beanumber commented on #29
This is really an issue with (https://github.com/beanumber/airlines/issues) -- not `mdsr`

I suspect that this was fixed by (https://github.com/beanumber/airlines/commit/58231c3cf15855117d21acd9b70fe1bb1e9d0c79). Can @ulk56 confirm that this is still an issue?

[2018-05-31 15:23] beanumber opened #31 "remove tidyverse from Imports"

[2018-05-31 15:29] beanumber commented on #31
The issue actually occurs here:

https://github.com/beanumber/mdsr/blob/acc652e6acd1025520b2a3da8a6858b55946cbb5/R/attach.R#L23

That is, we are actually importing a function from `tidyverse`.

[2018-05-31 17:03] nicholasjhorton commented on #30
I just ran this successfully on MacOS X just this week.  Unfortunately, I don't have access to a Windows box.

[2018-06-01 15:09] #31 closed

[2018-06-11 14:21] beanumber commented on #30
Me either. It is safe to close this @nicholasjhorton ?

[2018-06-11 14:21] #29 closed

[2018-06-11 14:35] beanumber commented on #20
Can you flesh this out @dtkaplan ?

[2018-06-11 14:35] beanumber commented on #19
@dtkaplan

[2018-06-11 14:47] #18 closed

[2018-06-11 19:11] #30 closed

[2018-10-12 09:40] homerhanumat opened #32 "on mdsr server, imdb and fec lacking talbles"
At the moment the server` mdsr.cdc7tgkkqd0n.us-east-1.rds.amazonaws.com` shows two databases (imdb and fec) that have no tables.  Are there plans to repopulate them?  (I would like to use them in a Spring 2019 class.)

[2018-10-14 22:48] beanumber commented on #32
Let me look into it. I'll see how much space we have left.

[2018-12-12 16:26] beanumber commented on #32
`imdb` is now there

[2019-03-11 23:53] homerhanumat opened #33 "src_scidb() gives corrupt connection handle"
For the past few weeks I and my class have been connecting to the old server at Smith College, via an odbc driver (se we can use the nice Connections pane in R Studio):

[code]

But I know that the textbook assumes that we are using `mdsr::src_scidb()`, which connects to a server on Amazon.

A direct connection like the following works fine, either with MySQL:

[code]

or via odbc:

[code]

But `s

[2019-03-12 20:34] beanumber commented on #33
[code]

<sup>Created on 2019-03-12 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

It's still working for me. I assume you caught the typo `s**cr**_scidb()`.

I know I've seen the "corrupt connection handle" error when I have old DB connections that I try to access after restarting an R session. Could that be the problem?

[2019-03-13 01:44] homerhanumat commented on #33
Yes, I caught the typo.

What's especially puzzling is that my errors aren't quite the same as yesterday.

I clean out the Global Environment and restart R.  Then:

[code]

This is happening on both Mac and an R Studio Server on top of CentOS.  Here's the session info for CentOS:

[code]

[2019-03-14 19:45] beanumber commented on #33
Can you try adding a `library(RMySQL)` in there?

[2019-03-14 19:53] beanumber commented on #33
[code]

<sup>Created on 2019-03-14 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

As you have it `db` will only work with `dplyr` functions. You need to access `db$con` to work with `DBI` functions.

[2019-03-14 19:53] #33 closed

[2019-03-14 23:17] homerhanumat commented on #33
Got it, thanks!

[2019-04-18 16:40] beanumber opened #34 "mdsr server is failing with storage full error"
https://cran.r-project.org/web/checks/check_results_mdsr.html

Not sure what is causing the problem.

[2019-04-23 20:09] beanumber opened #35 "add RStudio Connections pane"
https://github.com/rstudio/rstudio-connections-example

[2019-05-20 15:21] beanumber commented on #34
I'm still not sure what caused the problem, but I added more disk space to the instance and deleted the `flights` data from before 2010.

[2019-05-20 15:21] #34 closed

[2019-05-20 15:30] beanumber opened #36 "Update for mdsr2e"
- I'm assuming we should keep all of the existing functionality, so that anyone who has the first edition of the book will still be able to use the package and have it "just work".
- That said, now that the package doesn't load `tidyverse`, I'd like to consider not having it load `mosaic` either.
- should we add a hex sticker?
- We need to think through how we are using the database server. I see

[2019-05-20 15:39] beanumber opened #37 "Why is there data in `inst/extdata`?"
Maybe this is the real problem with #16 ?

[2019-05-20 16:00] #35 closed

[2019-05-20 16:10] #37 closed

[2019-05-20 16:38] beanumber opened #38 "CIA Factbook codes appear to have been completely renumbered"
https://www.cia.gov/library/publications/resources/the-world-factbook/docs/profileguide.html

[2019-05-28 10:30] nicholasjhorton commented on #36
Keeping the existing functionality would be my preference (adding new functions as needed to support changes for the second edition).

Can we talk about loading mosaic?

A hex sticker sounds good to me (but I'm design challenged).

Can we identify a subset of the flights data that we can guarantee on the database server?  I agree that the proof-of-concept is what is most important, but I can't see

[2019-10-02 19:04] homerhanumat opened #39 "medicareProviders and related datasets"
The data set `MedicareCharges` defines the variable `drg` as a Direct Recovery Group, but DRG in this context is actually an acronym for Diagnostic Related Group (see [https://hmsa.com/portal/provider/zav_pel.fh.DIA.650.htm](https://hmsa.com/portal/provider/zav_pel.fh.DIA.650.htm)).  In addition, the help file mentions the data set `DirectRecoveryGroups` which is not included in package **mdsr**.

[2019-10-03 13:28] beanumber commented on #39
@dtkaplan can you weigh in on this?

[2019-10-11 13:47] beanumber opened #40 "bad magic number?"
[code]

[2019-10-11 13:47] beanumber commented on #40
seems relevant: https://github.com/hadley/strict/issues/29

[2019-11-13 21:07] rporta23 opened #41 "Error in X-axis labeling of figure 2.2"
The caption says the x-axis is in millions of dollars, but really it is just in dollars if you compare it to figure 2.1.

[2019-11-14 21:00] beanumber commented on #41
Thanks!

[2019-11-14 21:00] #41 closed

[2020-06-01 16:29] #40 closed

[2020-06-01 16:32] beanumber commented on #32
Closing this, as #36 includes the question about what to populate on the AWS Server.

[2020-06-01 16:32] #32 closed

[2020-07-13 13:22] nicholasjhorton opened #42 "consider suppressing part or all of this output"
In accordance with CRAN policy, the 'mdsr' package
           no longer attaches
the 'tidyverse' package automatically.
You may need to 'library(tidyverse)' in order to
           use certain functions.

[2020-07-13 16:05] beanumber commented on #42
Agreed. I also think the package should not load `mosaic`.

[2020-07-13 16:26] #42 closed

[2020-07-13 16:41] nicholasjhorton commented on #42
Thanks for your updates.

I hear where you are coming from.  But I wonder if we can keep mosaic for the time being (or at least hold off on making a decision for now).

[2020-07-13 18:17] beanumber commented on #42
What about re-exporting any `mosaic` functions we are still using from `mdsr`? Would that help?

[2020-07-13 18:27] nicholasjhorton commented on #42
The fact that mosaic loads dplyr is a big reason for me to build upon it.  I realize that you may disagree with this approach and will let you make your final determination.  I just think it's simpler for students to be able to do some useful things after running:

library(mdsr)

[2020-07-13 19:41] beanumber commented on #42
Yeah, I want them to do

[code]

You're coasting on the fact that `mdsr` loads `mosaic`, which loads `dplyr` and `ggformula` via Depends.

But what about all of the students who aren't using `mosaic`? They won't even realize which packages are being attached and which functions are then available to them. For my students, I would rather have them understand "Oh, I have to load the `tidyverse`", an

[2020-07-13 20:44] nicholasjhorton commented on #42
I had thought that we were going to be adding explicit library() calls or use of tidyr::pivot_longer() references for functions outside of the mdsr/mosaic/dplyr universe.

That being said, I can't refute your reasoning and expected that you'd want to make this shift.  I'm not standing in the way of the change. I just suspect that it will move the pain point earlier.

[2020-08-08 20:43] nicholasjhorton opened #43 "update DataSciencePapers"
There are now 1,089 papers that match "Data Science" in the text chapter.  I've updated the package with the new dataset.  Is it too large?  Do we need to deal with this in some alternative manner?

https://github.com/beanumber/mdsr/blob/master/data/DataSciencePapers.rda

[2020-08-18 13:19] nicholasjhorton opened #44 "update mdsr version on CRAN"
@beanumber might you be willing to prep the mdsr package for CRAN?  I'd suggest bumping the version number to something simpler (2.0 would seem more descriptive).  This would be very helpful for me to have done before the start of the semester.

[2020-08-20 16:05] nicholasjhorton opened #45 "issues adding new datasets"
I'm sorry Ben: I've messed something up trying to add these datasets.  I'm getting an error:

==> devtools::check()

Updating mdsr documentation
Loading mdsr
Registered S3 method overwritten by 'mosaic':
  method                           from
  fortify.SpatialPolygonsDataFrame ggplot2
Error in eval(exprs[i], envir) : object 'headlines_test' not found
Calls: <Anonymous> ... load_data -> unlist ->

[2020-08-20 16:23] nicholasjhorton commented on #45
Fixed by recloning the repo.  Groan.

[2020-08-20 16:23] #45 closed

[2020-08-28 18:17] beanumber opened #46 "update spatial data frames"
Your package mdsr stores data objects using classes defined
in the sp package or inheriting from those classes. From sp 1.4-* and
rgdal 1.5-*, CRS objects are now expected to have a comment containing
an WKT2 CRS representation - see:

https://www.r-spatial.org/r/2020/03/17/wkt.html

A section at the foot of

https://rgdal.r-forge.r-project.org/articles/CRS_projections_transformations.html#rebuild

[2020-08-28 18:18] beanumber commented on #46
I think this is moot because we are now using `sf` objects.

[2020-08-28 18:18] #46 closed

[2020-08-28 18:19] beanumber commented on #46
Fixed in 5303063

[2020-08-28 18:28] beanumber commented on #43
It's about 0.5 MB. I made it a tibble and changed the compression.

[2020-08-28 18:28] #43 closed

[2020-08-28 18:33] #39 closed

[2020-08-28 18:34] beanumber commented on #39
Thanks @homerhanumat !

[2020-08-28 18:52] beanumber opened #47 "hex sticker?"
I made a pretty lame attempt, but it's something.

[2020-08-28 19:00] beanumber commented on #19
http://www.geonames.org/3040051/les-escaldes.html

GeoNames @dtkaplan ? Is that the source?

@nicholasjhorton I wonder if we can trim some of this. The data frame is 23k rows and takes up 0.5 MB compressed, but we only use the biggest 4000 cities in the book, in one place.

[2020-08-28 19:02] beanumber commented on #19
Bingo: https://download.geonames.org/export/dump/cities15000.zip

[2020-08-28 21:21] #19 closed

[2020-08-28 21:22] #36 closed

[2020-08-29 09:52] nicholasjhorton commented on #47
I like it!

[2020-08-29 09:52] #47 closed

[2020-08-31 18:21] beanumber opened #48 "drop mosaic dependency"
@nicholasjhorton , I think we should drop the `mosaic` dependency for this package. We don't need it or use it, and it's not best practice to force users to install all of the `mosaic` dependencies just to install this package for the book (which should be lightweight).

`library(mdsr)` doesn't attach `mosaic` anyway, so users will already have to `library(mosaic)` separately. The only change to u

[2020-08-31 18:22] nicholasjhorton commented on #48
I'm find with dropping mosaic as a dependency: I had thought that you'd already made this change.

[2020-08-31 18:23] beanumber opened #49 "Namespaces in Imports field not imported from:"
[code]

[2020-08-31 18:27] beanumber opened #50 "shrink Violations?"
This is 2.2 MB is by far the largest data set we have in here. Is all of it necessary?

[2020-08-31 18:29] nicholasjhorton commented on #50
We're using it in multiple places.  I realize that the CRAN organizers are dealing with huge scale.  But we're talking about 2.2MB here.  Just saying.

[2020-08-31 18:34] #48 closed

[2020-08-31 18:34] #49 closed

[2020-08-31 19:14] beanumber opened #51 "testing a training data sets"
@nicholasjhorton , should we save the `Headlines` and `Emails` data sets as `rsample` objects? This would simplify some things.

Also, where are the scripts to process these data? Can you put them in `data-raw/`?

[2020-09-04 00:13] #44 closed

[2020-10-06 12:32] nicholasjhorton opened #53 "issues with mdsr::person()"
I think that:

[code]

should be

[code]

Otherwise we get

Billy Beane
Beane, Billy

in the index

where we want only

Beane, Billy

See https://github.com/beanumber/mdsr/blob/master/R/macros.R

[2020-10-06 14:26] nicholasjhorton commented on #53
Fixed via https://github.com/beanumber/mdsr/commit/66fdf650bf0e56781464c48fca834aad29412c89

[2020-10-13 19:06] nicholasjhorton commented on #51
It might make sense to remove these objects.

[2020-11-03 15:19] beanumber opened #54 "Fix CRAN problems"
https://cran.r-project.org/web/checks/check_results_mdsr.html

[2020-11-09 22:42] muschellij2 commented on #30
For anyone who reaches here for some reason, this issue may also because of `mode` on `download.file`, so try with `download.file(mode = "wb")` if trying a binary file.

[2020-11-10 15:19] beanumber opened #55 "conflict with utils::person()"
I think I'm going to change the name of the function. it's causing annoying errors during checking.

[2020-11-10 15:21] nicholasjhorton commented on #55
`person_index()`?

[2020-11-10 15:28] #55 closed

[2020-12-16 17:08] #54 closed

[2020-12-23 16:24] nicholasjhorton opened #56 "issues with mdsr::func()"
I think that there's an issue with func(): shouldn't it also output the text?

[code]

<sup>Created on 2020-12-23 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-12-23 17:52] beanumber commented on #56
Yup. Fixed via e301df0f5de14a2466420112f3483585dea8dbfc.

[2020-12-23 17:52] #56 closed

[2021-01-27 04:27] homerhanumat opened #57 "upgrade mysql version for mdsr public databases?"
On Ubuntu 20.04 commands like

[code]

generate an error containing the text:

[code]

The issue appears to relate to improvements in security levels in Ubuntu 20.04 vs. the old-ish version of MySQL at `mdsr.cdc7tgkkqd0n.us-east-1.rds.amazonaws.com`, see [here](https://stackoverflow.com/questions/61649764/mysql-error-2026-ssl-connection-error-ubuntu-20-04).

Connections from the terminal works, pr

[2021-01-27 13:59] nicholasjhorton commented on #57
@beanumber are you able to replicate this?  What version of Ubuntu are you running?

[2021-01-27 14:45] homerhanumat commented on #57
Ubuntu version:

[code]

For now our workaround is to modify `/etc/ssl/openssl.cnf` to set the default minimum version TLS version down, from 1.2 to 1.0.  Hopefully we aren't messing up something else.

On your end I would worry that upgrading to 1.2 might shut out people who work from other systems.

[2021-01-27 15:37] beanumber commented on #57
Thanks for alerting us to this @homerhanumat !

I'm still running 18.04.5 LTS. I try to avoid upgrading during the semester.

Perhaps we should put a note on the book website for now and worry about upgrading during the summer.

@homerhanumat can you post what you changed in `/etc/ssl/openssl.cnf`?

Could the `ssl-mode` option be placed in a MySQL options file?

[2021-01-27 16:05] homerhanumat commented on #57
### OS Changes/Upgrades

We got switched over involuntarily from Centos7 to Ubuntu over the winter break.  Much hassle, but a good move in the long run I hope.  (Among other things, we never could figure out how to install system dependencies on Centos for R package `sf`.)

### Use an Options File?

So far I'm find nothing that works, and it seems that others have also had no luck as well:  see [t

[2021-01-27 16:20] homerhanumat commented on #57
I seems it will not be possible for you to set options on your end to enable connections via TLSv1.2.  In the [MySQL documentation](https://dev.mysql.com/doc/refman/5.7/en/encrypted-connection-protocols-ciphers.html) I find:

You are at version 5.6.40.  (And we don't want to try upgrading MySQL in the middle of a semester, for sure!)

[2021-01-28 01:57] homerhanumat opened #58 "MDSR public database can be slow"
The MDSR public database seems to work rather slowly, for example:

[code]

The same query directed at the scidb.smith.edu database (used in earlier versions of `mdsr`) finished in 4.39 seconds.

[2021-01-28 02:46] homerhanumat commented on #58
But maybe this is explained by #36:

[2021-01-28 16:47] beanumber commented on #57
Like clockwork, I got a message from AWS that MySQL 5.6 will be EOL'd starting in February and continuing until August.

I'll plan to upgrade this to MySQL 8.0 in late May or early June.

[2021-01-28 16:52] beanumber commented on #58
Hmm...it shouldn't be THAT slow. I don't see any rogue queries on the server. I can rebooting it...

[2021-01-28 17:07] nicholasjhorton commented on #58
I've seen similar throughput, though I was never able to characterize it. (It felt like the connection was being intentionally throttled but from what I understand from @beanumber the I/O on the AWS instance was not limited.)

[2021-01-28 22:06] homerhanumat commented on #58
My queries to lahman have been slow, even fairly simple ones.  Queries to airlines turn around pretty quickly.  Could lahman be less indexed?

[2021-01-28 23:16] homerhanumat commented on #57
Suddenly I can connect to the mdsr public database on Ubuntu 20.04, without disabling ssl or downgrading the default TSL version to 1.1.  Did you change something on your end, @beanumber ?

Strangely, I can do this with `mysql` in the terminal, but NOT with `dbConnect()`.  (Same old error there.)

I did make a change on my end:  I'm now using `mysql` from the MariaDB client.  But that should not m

[2021-01-29 01:04] beanumber commented on #57
Nope.

On Thu, Jan 28, 2021 at 6:16 PM Homer White <notifications@github.com>
wrote:

[2021-03-12 15:11] beanumber commented on #57
We are now at 5.7.31 on this server. I think that fixed the TLS issue. Can you confirm that this is still working for you @homerhanumat ?

[2021-03-12 15:26] beanumber commented on #58
Blah -- there are no indexes!!

Not sure how that happened, but I will fix.

[2021-03-12 15:46] beanumber commented on #58
Fixed. Remind me to use this as an example of the value of indexes!

[2021-03-12 15:46] #58 closed

[2021-03-12 15:47] nicholasjhorton commented on #58
This was a huge issue for me this summer and fall.  Thanks for the fix!

[2021-03-12 15:55] homerhanumat commented on #57
It still works for us, but with the workaround decribed above.  It will be a few more days before I can remove the workaround and check whether the upgrade fixed the TLS issue.

[2021-03-26 14:06] beanumber opened #59 "compress data files"

[2021-03-26 14:33] #59 closed

[2021-03-26 14:33] #50 closed

[2021-03-26 15:48] nicholasjhorton commented on #59
Thanks for your work on this front.

Would it be possible to double check that the book is compiling with the new data format?

[2021-05-03 13:56] nicholasjhorton opened #60 "add BP_narrow and BP_wide to package?"
[code]

[2021-05-22 02:51] math-mcshane opened #61 "Broken Link to `Issues` Page"
How exactly did I find my way here, you ask? Hacking the URL.

On the homepage for the web edition, https://mdsr-book.github.io/mdsr2e/ , the link inside

points to https://github.com/mdsr-book/mdsr2e/issues which (apparently?) should be https://github.com/mdsr-book/mdsr/issues . At the very least, it's currently giving a `404`.

I guess while I'm at it -- the link the first edition on this same p

[2021-05-22 17:05] nicholasjhorton commented on #61
@math-mcshane thanks for noting the issue.  We will investigate both issues.

[2021-05-27 13:42] beanumber commented on #61
The problem is that the `mdsr2e` repo is still private. I suggest that we make it public. This will solve the problem without having to change the link.

Alternatively, we could use the `mdsr` repo, but that is for the *package*, not the book, so it would make things less straightforward, I think.

@nicholasjhorton what would you like to do?

[2021-05-28 11:43] nicholasjhorton commented on #61
I worry that making the mdsr2e repo public would violate our agreement with the publisher.

I would prefer to either:

1. Have the link point to the mdsr package repo, or
2. Create a separate shell mdsr2e_public repo where these discussions could be located.

[2021-07-27 14:32] beanumber commented on #61
I will implement (2). I don't like (1).

It might make even more sense to have the HTML served from `mdsr2e`, and make this repo public, and then move the source files to `mdsr2e_src` and keep that one private.

[2021-07-27 14:55] nicholasjhorton commented on #61
Does your alternative 2b mean that we need to scrub all of the commits out of the existing repo? Or do some sort of a flip?  (It sounds beyond my skills.)

[2021-07-27 16:21] beanumber commented on #61
Yes, it would.

[2021-07-28 12:54] beanumber commented on #61
The URL has now been changed to: https://github.com/mdsr-book/mdsr-book.github.io/issues

[2021-07-28 12:54] #61 closed

[2021-07-28 13:31] nicholasjhorton commented on #61
Nice! Thanks for your work on this front.

[2021-09-28 21:13] llendway opened #62 "dbplyr summarize() without group_by()"
Hi all! I posted a question over at [RStudio Community](https://community.rstudio.com/t/dbplyr-summarize-without-a-group-by/116466) but it turns out it belongs here. I've also included the same reprex from that post below.

library(tidyverse)   # for reading in data, graphing, and cleaning
library(dbplyr)      # for SQL query "cheating" - part of tidyverse but needs to be loaded separately
#>
#> A

[2021-09-28 21:17] nicholasjhorton commented on #62
Lisa, sorry for the complications.

Ben looked at this a few months ago:

Does that help?

I'm still puzzled about whether this is a dplyr/dbplyr issue or an issue with the two MySQL databases I routinely use.

[2021-09-28 21:23] llendway commented on #62
Yes. And, like you see in that RStudio community post, it looks like it's a MySQL issue. For my class, I'm just going to skip that one query, which really isn't a big deal. If need be, I'll use the "hacky" solution - what's a data science course without at least a few of those!

[2021-09-28 21:25] nicholasjhorton commented on #62
But it looks like there's a simple workaround:

[code]

this can be used instead of con_air <- dbConnect_scidb("airlines")
i.e. after the above definition do

[code]

[2021-09-28 21:29] nicholasjhorton commented on #62
Here's an updated reprex which demonstrates the fix.

@beanumber might you be willing to incorporate this change into the mdsr package?

[code]

<sup>Created on 2021-09-28 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2021-09-29 13:56] beanumber commented on #62
Sure, I can do that.

[2021-11-03 20:16] nicholasjhorton commented on #62
I know that you are swamped, but wonder if there's ways to move this forward at some juncture.

[2021-11-23 12:32] kcarnold commented on #62
Yup, just using `RMariaDB::MariaDB()` instead of RMySQL works. I ran an exercise in class yesterday with this solution and everything worked great. (Thanks for hosting this database!)

[2021-12-15 14:13] beanumber commented on #62
Thanks @nicholasjhorton @kcarnold @llendway.

I pushed a fix on the `maria` branch: 831b58c

I'll merge once the semester is safely over.

[2021-12-15 17:35] llendway commented on #62
Thank you! And, yes, never modify anything until the semester is over - good rule to live by :)

[2022-08-08 14:59] beanumber commented on #62
Closed via aea931b

[2022-08-08 14:59] #62 closed

[2022-10-05 13:30] willwerscheid opened #64 "Removed from CRAN"
Hi! `mdsr` was apparently removed from CRAN on 10/5 and can no longer be installed via `install.packages()`.

[2022-10-05 16:18] beanumber commented on #64
Sorry. I'll resubmit as soon as I can.

[2022-10-12 15:03] nicholasjhorton commented on #64
In the interim, the package can be downloaded using the following command:

`devtools::install_github("mdsr-book/mdsr")`

[2022-10-12 15:03] nicholasjhorton opened #65 "add alternative download instructions to README.md"
Suggest option to install via:

`devtools::install_github("mdsr-book/mdsr")`

[2022-11-09 19:48] nicholasjhorton commented on #64
@beanumber any updates on this front (or for #65)? Thanks as always for your efforts.